[1manyio[0m==4.14.2
[1margon2-cffi[0m==25.1.0
[1margon2-cffi-bindings[0m==26.1.0
[1marrow[0m==1.4.0
[1marviz[0m==0.23.4
[1masttokens[0m==3.0.2
[1masync-lru[0m==2.3.0
[1mattrs[0m==26.1.0
[1mbabel[0m==2.18.0
[1mbeautifulsoup4[0m==4.15.0
[1mbleach[0m==6.4.0
[1mcachetools[0m==6.2.6
[1mcertifi[0m==2026.7.22
[1mcffi[0m==2.1.1
[1mcharset-normalizer[0m==3.5.1
[1mcloudpickle[0m==3.1.2
[1mcomm[0m==0.2.3
[1mcons[0m==0.4.7
[1mcontourpy[0m==1.3.3
[1mcycler[0m==0.12.1
[1mdebugpy[0m==1.8.21
[1mdefusedxml[0m==0.7.1
[1metuples[0m==0.3.10
[1mexecuting[0m==2.2.1
[1mfastjsonschema[0m==2.22.2
[1mfilelock[0m==3.32.3
[1mfonttools[0m==4.63.0
[1mfqdn[0m==1.5.1
[1mgraphviz[0m==0.21
[1mgraphviz2drawio[0m==1.2.0
[1mh11[0m==0.16.0
[1mh5netcdf[0m==1.8.1
[1mh5py[0m==3.16.0
[1mhttpcore[0m==1.0.9
[1mhttpx[0m==0.28.1
[1midna[0m==3.19
[1mipykernel[0m==7.3.0
[1mipython[0m==9.16.1
[1mipython-pygments-lexers[0m==1.1.1
[1mipywidgets[0m==8.1.9
[1misoduration[0m==20.11.0
[1mjedi[0m==0.20.0
[1mjinja2[0m==3.1.6
[1mjson5[0m==0.15.0
[1mjsonpointer[0m==3.1.1
[1mjsonschema[0m==4.26.0
[1mjsonschema-specifications[0m==2025.9.1
[1mjupyter[0m==1.1.1
[1mjupyter-builder[0m==1.2.2
[1mjupyter-client[0m==8.9.1
[1mjupyter-console[0m==6.6.3
[1mjupyter-core[0m==5.9.1
[1mjupyter-events[0m==0.12.1
[1mjupyter-lsp[0m==2.3.1
[1mjupyter-server[0m==2.20.0
[1mjupyter-server-terminals[0m==0.5.4
[1mjupyterlab[0m==4.6.3
[1mjupyterlab-pygments[0m==0.3.0
[1mjupyterlab-server[0m==2.28.0
[1mjupyterlab-widgets[0m==3.0.17
[1mkiwisolver[0m==1.5.0
[1mlark[0m==1.3.1
[1mllvmlite[0m==0.49.0
[1mlogical-unification[0m==0.4.7
[1mmarkdown-it-py[0m==4.2.0
[1mmarkupsafe[0m==3.0.3
[1mmatplotlib[0m==3.11.1
[1mmatplotlib-inline[0m==0.2.2
[1mmdurl[0m==0.1.2
[1mminikanren[0m==1.0.5
[1mmistune[0m==3.3.4
[1mmultipledispatch[0m==1.0.0
[1mnbclient[0m==0.11.0
[1mnbconvert[0m==7.17.1
[1mnbformat[0m==5.11.1
[1mnest-asyncio2[0m==1.7.2
[1mnotebook[0m==7.6.2
[1mnotebook-shim[0m==0.2.4
[1mnumba[0m==0.67.0
[1mnumpy[0m==2.5.2
[1mpackaging[0m==26.3
[1mpandas[0m==3.0.5
[1mpandocfilters[0m==1.5.1
[1mparso[0m==0.8.7
[1mpatsy[0m==1.0.2
[1mpexpect[0m==4.9.0
[1mpillow[0m==12.3.0
[1mplatformdirs[0m==4.11.3
[1mprometheus-client[0m==0.26.0
[1mprompt-toolkit[0m==3.0.53
[1mpsutil[0m==7.2.2
[1mptyprocess[0m==0.7.0
[1mpure-eval[0m==0.2.3
[1mpuremagic[0m==2.2.0
[1mpycparser[0m==3.0
[1mpygments[0m==2.21.0
[1mpygraphviz[0m==2.0.1
[1mpymc[0m==5.28.5
[1mpyparsing[0m==3.3.2
[1mpytensor[0m==2.38.2
[1mpython-dateutil[0m==2.9.0.post0
[1mpython-json-logger[0m==4.2.0
[1mpyyaml[0m==6.0.3
[1mpyzmq[0m==27.1.0
[1mreferencing[0m==0.37.0
[1mrequests[0m==2.34.2
[1mrfc3339-validator[0m==0.1.4
[1mrfc3986-validator[0m==0.1.1
[1mrfc3987-syntax[0m==1.1.0
[1mrich[0m==15.0.0
[1mrpds-py[0m==2026.6.3
[1mscipy[0m==1.18.0
[1msend2trash[0m==2.1.0
[1msetuptools[0m==84.0.0
[1msix[0m==1.17.0
[1msoupsieve[0m==2.9.2
[1mstack-data[0m==0.6.3
[1mstatsmodels[0m==0.14.6
[1msvg-path[0m==6.3
[1mterminado[0m==0.18.1
[1mthreadpoolctl[0m==3.6.0
[1mtinycss2[0m==1.5.1
[1mtoolz[0m==1.1.0
[1mtornado[0m==6.5.8
[1mtraitlets[0m==5.16.1
[1mtyping-extensions[0m==4.16.0
[1mtzdata[0m==2026.3
[1muri-template[0m==1.3.0
[1murllib3[0m==2.7.0
[1mwcwidth[0m==0.8.2
[1mwebcolors[0m==25.10.0
[1mwebencodings[0m==0.6.1
[1mwebsocket-client[0m==1.9.0
[1mwidgetsnbextension[0m==4.0.16
[1mxarray[0m==2026.7.0
[1mxarray-einstats[0m==0.11.0
